/Test.class
/libraryController.class
/initViews.class
/InitViews.class
/InitViews$1.class
/InitViews$2.class
/InitViews$3.class
/InitViews$4.class
/LibraryController.class
/WishListController.class
/ReadingGoalsController.class
/test$1.class
/test.class
/AddBookView.class
/AddBookView$1.class
/AddBookView$2.class
/AddBookView$3.class
/test$2.class
/test$3.class
